/* src/ImageSlider.css */
.slider-1 {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.slider-image-1 {
  width: 100%;
  height: auto;
}

.slider-image.first-slide {
  border: 2px solid red; /* Example of different style for the first slide */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.dots-1 {
  text-align: center;
  padding: 10px;
}

.dot-1 {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot-1.active {
  background-color: #717171;
}
